*{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
  }
  body{
    background: #090808;
    color:#fff;
  }
   .css-3d-text {
      font-size: 70px;
      color: #ffc107;
      font-family: "Arial Black", Gadget, sans-serif;
      text-shadow: 0 0 0 rgb(250 188 2),
                   1px 1px 0 rgb(245 183 0),
                   2px 2px 0 rgb(240 178 0),
                   3px 3px 0 rgb(235 173 0),
                   4px 4px 0 rgb(230 168 0),
                   5px 5px 0 rgb(225 163 0),
                   6px 6px 0 rgb(220 158 0),
                   7px 7px 0 rgb(215 153 0),
                   8px 8px 0 rgb(210 148 0),
                   9px 9px 0 rgb(205 143 0),
                   10px 10px  0 rgb(200 138 0),
                   11px 11px 10px rgb(0 0 0 / 60%),
                   11px 11px 1px rgb(0 0 0 / 50%),
                   0 0 10px rgb(0 0 0 / 20%);
   }
  html{
    scroll-behavior: smooth;
  }
  #header{
    width: 100%;
    height: 100vh;
    background-image: url('media/1.png');
    background-size: cover;
    background-position: center;
    display: none;
  }
  #about{
    display: flex;
    padding: 80px;
    color: white;
  }
  .row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  }
  .about-col-2{
    flex-basis: 60%;
  } 
  #desc{
    position: relative;
    padding: 40px;
    font-size: 30px;
    font-weight: 500;
  }
  nav .fas{
    display: none;
  }
  .wrapper{
    display: flex;
  }
  section{
    width: 100vw;
    flex-shrink: 0;
    overflow: hidden;
  }
  .video-section video{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -2;
    position: absolute;
  }
  .img-container{
    top:0;
    height: 100vh;
    width: 100vw;
  }
  .img{
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .section{
    background-color: #141414;
    padding: 7rem;
  }
  @media only screen and (max-width: 600px){
    #header{
      background-image: url('media/cropped.png');  
    }
    .about-col-1{
      background-image: url('media/3.png');  
    }
    nav .fas{
      display: block;
      font-size: 25px;
    }
    nav ul{
      background: #ff004f;
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 100vh;
      padding-top: 50px;
      z-index: 2;
      transition: 0.5s  linear ;
    }
    nav ul .fas{
      position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;
    }
  }
  .banner {
    position: relative;
    width: 70%;
    height: 100vh;
  }
  .banner.boxx {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
  }
  .about-col-1 img{
    width: 20vw;
    height: 60vh;
   }
  .banner .boxx img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    opacity: 0;
    transition: 0.5s ease-in-out;
  }
  .banner .boxx img.active {
    opacity: 0.9;
  }
  .controls {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  .controls li {
    width: 60px;
    height: 60px;
    background: #fff;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .controls li:hover {
    background: #faa000;
  }
  .controls li::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-left: 3px solid #111;
    border-bottom: 3px solid #111;
    transform: rotate(45deg);
  }
  .controls li:hover::before {
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
  }
  .controls li:nth-child(2)::before {
    transform: rotate(-135deg);
  }
  .contact-left{
    flex-basis: 35%;
  }
  .contact-right{
    flex-basis: 60%;;
  }
  .social-icons{
    margin-top: 30px;
    }
  nav ul li a{
      color: #fff;
      text-decoration: none;
      font-size: 10px;
      position: relative;
  }
  .social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right:15px;
  color: #ababab;
  display: inline-block;    
  }
  
  .contact-right form{
    width: 100%;
  }
  
  form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px 0;
    margin: 15px;
    color: #fff;
    font-size: 20px;
    border-radius: 7px;
  }
  
  form .btn2{
    padding: 14px 60px;
    cursor: pointer;
    margin-top: 21px;
  }
  
  .loader{ 
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 200px;
      height: 200px;
      box-sizing: border-box;
      background: #000;
    }
    .loader .face{
      position: absolute;
      border: 2px solid #121212;
    }
    .container{
      padding: 10px 10%;
    }
  nav{
    display: flex;  
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .header-text{
    margin-top: 20%;
    font-size: 30px;
  }
    .loader .face.face1{
    top:0;
    left: 0;
    right:0;
    bottom: 0;
    background: #090909;
    box-shadow:  0 0 10px rgb(0 0 0 / 100%);
    border-radius: 50%;
    border-left: 2px solid #ff0;
    border-top: 2px solid #ff0;
    animation: animate 3s linear infinite;
    }
    
    .loader .face.face2{
      top:30px;
      left: 30px;
      right:30px;
      bottom: 30px;
      background: #090909;
      box-shadow:  0 0 10px rgb(0 0 0 / 100%);
      border-radius: 50%;
      border-right: 2px solid #03a9f4;
      border-bottom: 2px solid #03a9f4;
      animation: animate 3s linear reverse infinite;
    
      }
      .loader .face .circle{
        position: absolute;
        top: 50%;
        left:50%;
        width: 50%;
        height: 2px;
        transform-origin: left;
      }
      .loader .face.face1 .circle{
        transform: rotate(-45deg);
      }
      .loader .face.face2 .circle{
        transform: rotate(-45deg);
      }
      .loader .face .circle::before{
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #fff;
        top:-4px;
        right: -6px;
        }
        .loader .face.face1 .circle::before{
          background: #ff0;
          box-shadow: 0 0 20px #ff0,
                      0 0 40px #ff0,
                      0 0 60px #ff0,
                      0 0 80px #ff0,
                      0 0 100px #ff0,
                      0 0 0 5px rgb(255 255 0 / 10%);
        }
        .loader .face.face2 .circle::before{
          background: #03a9f4;
          box-shadow: 0 0 20px #03a9f4,
                      0 0 40px #03a9f4,
                      0 0 60px #03a9f4,
                      0 0 80px #03a9f4,
                      0 0 100px #03a9f4,
                      0 0 0 5px rgb(3 169 244 / 10%);
        }
     @keyframes animate 
     {
      0%{
        transform: rotate(0deg);
        }
  
      100%{
        transform: rotate(360deg);
      }
     }
     .cursor{
      display: none;
      width: 1rem;
      height: 1rem;
      border: 2px solid white;
      position: absolute;
      border-radius: 50%;
     }
  
     .text{
      content: "";
      margin-top: 80px;
      margin-left: 70px;
      color: #ff0;
      width: 10px;
      height: 10px;
      position: absolute;
      background-color: black;
    }
    
    @keyframes animates {
      10%, 60%{
       opacity: 0;
      }
  
      100%{
        opacity: 1
      }
      
    }
  
    .telephone{
      text-decoration: none ;
      color: white;
    }